@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

:root {
	--poppins: 'Poppins', sans-serif;
	--lato: 'Lato', sans-serif;

	--light: #535353;
	--blue: #3C91E6;
	--light-blue: #CFE8FF;
	--grey: #d3d0c3;
	--dark-grey: #cecece;
	--dark: #f0f0f0;
	--dark2: rgb(159, 179, 216);
	--red: #DB504A;
	--yellow: #b49e55;
	--light-yellow: #FFF2C6;
	--orange: #FD7238;
	--light-orange: #FFE0D3;
}

html {
	overflow-x: hidden;
}

body.dark {
	--light: #22222e;
	--grey: #435569;
	--dark: #d7ecda;
}

body {
	background: var(--grey);
	overflow-x: hidden;
}





/* SIDEBAR */
#sidebar {
	position: fixed;
	top: 0;
	left: 0;
	width: 280px;
	height: 100%;
	background: var(--light);
	z-index: 2000;
	font-family: var(--lato);
	transition: .3s ease;
	overflow-x: hidden;
	scrollbar-width: none;
}
#sidebar::--webkit-scrollbar {
	display: none;
}
#sidebar.hide {
	width: 60px;
}
#sidebar .brand {
	font-size: 24px;
	font-weight: 700;
	height: 56px;
	display: flex;
	align-items: center;
	color: var(--blue);
	position: sticky;
	top: 0;
	left: 0;
	background: var(--light);
	z-index: 500;
	padding-bottom: 20px;
	box-sizing: content-box;
}
#sidebar .brand .bx {
	min-width: 60px;
	display: flex;
	justify-content: center;
}
#sidebar .side-menu {
	width: 100%;
	margin-top: 48px;
}
#sidebar .side-menu li {
	height: 48px;
	background: transparent;
	margin-left: 6px;
	border-radius: 48px 0 0 48px;
	padding: 4px;
}
#sidebar .side-menu li.active {
	background: var(--grey);
	position: relative;
}
#sidebar .side-menu li.active::before {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	top: -40px;
	right: 0;
	box-shadow: 20px 20px 0 var(--grey);
	z-index: -1;
}
#sidebar .side-menu li.active::after {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	bottom: -40px;
	right: 0;
	box-shadow: 20px -20px 0 var(--grey);
	z-index: -1;
}
#sidebar .side-menu li a {
	width: 100%;
	height: 100%;
	background: var(--light);
	display: flex;
	align-items: center;
	border-radius: 48px;
	font-size: 16px;
	color: var(--dark);
	white-space: nowrap;
	overflow-x: hidden;
}
#sidebar .side-menu.top li.active a {
	color: var(--blue);
}
#sidebar.hide .side-menu li a {
	width: calc(48px - (4px * 2));
	transition: width .3s ease;
}
#sidebar .side-menu li a.logout {
	color: var(--red);
}
#sidebar .side-menu.top li a:hover {
	color: var(--blue);
}
#sidebar .side-menu li a .bx {
	min-width: calc(60px  - ((4px + 6px) * 2));
	display: flex;
	justify-content: center;
}
/* SIDEBAR */






/* CONTENT */
#content {
	position: relative;
	width: calc(100% - 280px);
	left: 280px;
	transition: .3s ease;
}
#sidebar.hide ~ #content {
	width: calc(100% - 60px);
	left: 60px;
}




/* NAVBAR */
#nav-title {
	color: var(--dark);
	cursor: pointer;
}
#content nav {
	height: 56px;
	background: var(--light);
	padding: 0 24px;
	display: flex;
	align-items: center;
	grid-gap: 24px;
	font-family: var(--lato);
	position: sticky;
	top: 0;
	left: 0;
	z-index: 1000;
}
#content nav::before {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	bottom: -40px;
	left: 0;
	border-radius: 50%;
	box-shadow: -20px -20px 0 var(--light);
}
#content nav a {
	color: var(--dark);
}
#content nav .bx.bx-menu {
	cursor: pointer;
	color: var(--dark);
}
#menu-btn {
	font-size: 16px;
	transition: .3s ease;
	font-family: poppins-regular, sans-serif;
	cursor: pointer;
}
#content nav form {
	max-width: 400px;
	width: 100%;
	margin-right: auto;
}
#content nav form .form-input {
	display: flex;
	align-items: center;
	height: 36px;
}
#content nav form .form-input input {
	flex-grow: 1;
	padding: 0 16px;
	height: 100%;
	border: none;
	background: var(--grey);
	border-radius: 36px 0 0 36px;
	outline: none;
	width: 100%;
	color: var(--dark);
}
#content nav form .form-input button {
	width: 36px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--blue);
	color: var(--light);
	font-size: 18px;
	border: none;
	outline: none;
	border-radius: 0 36px 36px 0;
	cursor: pointer;
}
#content nav .notification {
	font-size: 20px;
	position: relative;
}
#content nav .notification .num {
	position: absolute;
	top: -6px;
	right: -6px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 2px solid var(--light);
	background: var(--red);
	color: var(--light);
	font-weight: 700;
	font-size: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
}
#content nav .profile img {
	width: 36px;
	height: 36px;
	object-fit: cover;
	border-radius: 50%;
}
#content nav .switch-mode {
	display: block;
	min-width: 50px;
	height: 25px;
	border-radius: 25px;
	background: var(--grey);
	cursor: pointer;
	position: relative;
}
#content nav .switch-mode::before {
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	bottom: 2px;
	width: calc(25px - 4px);
	background: var(--blue);
	border-radius: 50%;
	transition: all .3s ease;
}
#content nav #switch-mode:checked + .switch-mode::before {
	left: calc(100% - (25px - 4px) - 2px);
}
/* NAVBAR */

/* Photo */

#fullpage {
	display: none;
	position: absolute;
	z-index: 9999;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-size: contain;
	background-repeat: no-repeat no-repeat;
	background-position: center center;
	background-color: black;
  }


/*stai o țâră */
#messages-table > tbody > tr:hover,
#table-body > tr:hover {
	color: #000000;
}

.sr-only {
	position: absolute;
	top: -30em;
  }
  
  table.sortable td,
  table.sortable th {
	padding: 0.125em 0.25em;
	width: 8em;
  }
  
  table.sortable th {
	font-weight: bold;
	font-family: jakarta, sans-serif;

	/*border-bottom: thin solid #888;*/
	position: relative;
  }
  
  table.sortable th.no-sort {
	padding-top: 0.35em;
	text-align: center;
  }
  
  table.sortable th:nth-child(5) {
	width: 10em;
  }

  
  table.sortable th button {
	  font-family: jakarta, sans-serif;
	color:var(--dark2);
	position: absolute;
	padding: 4px;
	margin: 1px;
	font-size: 100%;
	font-weight: bold;
	background: transparent;
	border: none;
	display: inline;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
	outline: none;
	cursor: pointer;
  }
  
  table.sortable th button span {
	position: absolute;
	right: 4px;
  }
  
  table.sortable th[aria-sort="descending"] span::after {
	content: "▼";
	color: currentColor;
	font-size: 100%;
	top: 0;
  }
  
  table.sortable th[aria-sort="ascending"] span::after {
	content: "▲";
	color: currentColor;
	font-size: 100%;
	top: 0;
  }
  
  table.show-unsorted-icon th:not([aria-sort]) button span::after {
	content: "♢";
	color: currentColor;
	font-size: 100%;
	position: relative;
	top: -3px;
	left: -4px;
  }
  
  table.sortable td.num {
	text-align: right;
  }
  
  /*table.sortable tbody tr:nth-child(odd) {
	background-color: #ddd;
  }*/
  
  /* Focus and hover styling */
  
  table.sortable th button:focus,
  table.sortable th button:hover {
	padding: 2px;
	border: 2px solid currentColor;
	background-color: #697d8b;

  }
  
  table.sortable th button:focus span,
  table.sortable th button:hover span {
	right: 2px;
  }
  
  table.sortable th:not([aria-sort]) button:focus span::after,
  table.sortable th:not([aria-sort]) button:hover span::after {
	content: "▼";
	color: currentColor;
	font-size: 100%;
	top: 0;
  }
  



/*mai stai oleaca*/

tfoot input {
	width: 100%;
	padding: 3px;
	box-sizing: border-box;
}




/* MAIN */
#content main {
	width: 100%;
	padding: 36px 24px;
	font-family: poppins-regular, sans-serif;
	max-height: calc(100vh - 56px);
	overflow-y: auto;
}
#content main .head-title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	grid-gap: 16px;
	flex-wrap: wrap;
}
#content main .head-title .left h1 {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	color: var(--dark);
}
#content main .head-title .left .breadcrumb {
	display: flex;
	align-items: center;
	grid-gap: 16px;
}
#content main .head-title .left .breadcrumb li {
	color: var(--dark);
}
#content main .head-title .left .breadcrumb li a {
	color: #4747479a;
	pointer-events: none;
}
#content main .head-title .left .breadcrumb li a.active {
	color: var(--blue);
	pointer-events: unset;
}
#content main .head-title .btn-download {
	height: 36px;
	padding: 0 16px;
	border-radius: 36px;
	background: var(--blue);
	color: var(--light);
	display: flex;
	justify-content: center;
	align-items: center;
	grid-gap: 10px;
	font-weight: 500;
}
#btnExport {
	background-color: #85ad77;
	border: none;
	border-radius: 15px;
	box-shadow: 0px 1px 2px #000000;
	color: var(--light);
	font-family: poppins-regular, sans-serif;
	letter-spacing: 1px;
	height: 25px;
	margin-top: 13px;
	margin-bottom: 15px;
	margin-left: 0.5rem;
	margin-right: auto;
	transition: 0.25s;
	width: 25px;
	display: inline;
	float: left;
}
#attendance-on {
	/* margin: 0 auto; */
	display: none;
	/* background-color: #80808000; */
	border-radius: 10px;
}
#attendance-on a{
	color: #bf94ee;
}

#start-attendance {
	display: none;
	color: #ffffff9d;
	/* margin: 0 2rem; */
	margin-left: auto;
	cursor: pointer;
}
#yes-start-attendance {
	background-color: #abc7ab;
}
#save-edits {
	display: none;
	color: #ffffff;
	margin-left: auto;
	cursor: pointer;
	background-color: #85ad77;
}
#reset-attendance {
	display: none;
	color: rgb(202, 5, 5);
	/* margin: 0 2rem; */
	margin-left: auto;
	cursor: pointer;
}
#searchIcon {
	margin-left: auto;
	margin-right: 0px;
	color: var(--color2);
	opacity: 0.8;
}
#search-user {
	font-family: jakarta, sans-serif;
	width: 15em;
	height: 2rem;
	text-indent: 10px ;
	border-width: 0px;
	border-radius: 16px;
	background-color: #ffffff;

}
#search-user-div{
	margin: 1.5rem auto;
}
#logo {
	margin-left: auto;
	background-color: var(--grey);

	border-radius: 6px 0 0 6px;
	box-shadow: 0px 1px 16px #d3d0c391;

}
#logo img{
	height: 2.5rem;
	width: auto;
}

#content main .box-info {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	grid-gap: 24px;
	margin-top: 36px;
}
#content main .box-info li {
	padding: 24px;
	background: var(--light);
	border-radius: 20px;
	display: flex;
	align-items: center;
	grid-gap: 24px;
}
#content main .box-info li .bx {
	width: 80px;
	height: 80px;
	border-radius: 10px;
	font-size: 36px;
	display: flex;
	justify-content: center;
	align-items: center;
}
#content main .box-info li:nth-child(1) .bx {
	background: var(--light-blue);
	color: var(--blue);
}
#content main .box-info li:nth-child(2) .bx {
	background: var(--light-yellow);
	color: var(--yellow);
}
#content main .box-info li:nth-child(3) .bx {
	background: var(--light-orange);
	color: var(--orange);
}
#content main .box-info li .text h3 {
	font-size: 24px;
	font-weight: 600;
	color: var(--dark);
}
#content main .box-info li .text p {
	color: var(--dark);	
}





#content main .table-data {
	display: flex;
	flex-wrap: wrap;
	grid-gap: 24px;
	margin-top: 24px;
	width: 100%;
	color: var(--dark);
	font-family: poppins-regular, sans-serif;
	letter-spacing: 0px;
}
#content main .table-data > div {
	border-radius: 20px;
	background: var(--light);
	padding: 20px;
	overflow-x: auto;
}
#content main .table-data .head {
	display: flex;
	align-items: center;
	grid-gap: 16px;
	margin-bottom: 24px;
}
#content main .table-data .head h3 {
	font-family: poppins-regular, sans-serif;

	margin-right: 10px;
	font-size: 24px;
	font-weight: 600;
}
#content main .table-data .head .bx {
	cursor: pointer;
}

#content main .table-data .order {
	flex-grow: 1;
	flex-basis: 500px;
}
#content main .table-data .order table {
	width: 100%;
	border-collapse: collapse;
}
#content main .table-data .order table th {
	padding-bottom: 12px;
	/* padding: 0.125em 0.25em; */

	font-size: 13px;
	text-align: center;
	border-bottom: 1px solid var(--grey);
}
#content main .table-data .order table td {
	padding: 16px 15px;
	text-align: center;
}

/*Delete button*/

#content main .table-data .order table td button{
	background-color: #DB504A;
	border-radius: 50%;
}

#content main .table-data .order table tr td:first-child {
	display: flex;
	align-items: center;
	grid-gap: 12px;
	margin-left: 2em;

	
	
}
#content main .table-data .order table td img {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	object-fit: cover;
}

/*Delete

#content main .table-data .order table td button {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	object-fit: cover;
	background-color: red;
}*/

#content main .table-data .order table tbody tr:hover {
	background: var(--grey);
}
#content main .table-data .order table tr td .status {
	font-size: 10px;
	padding: 6px 16px;
	color: var(--light);
	border-radius: 20px;
	font-weight: 700;
}
#content main .table-data .order table tr td .status.completed {
	background: var(--blue);
	color: #ffffff;
}
#content main .table-data .order table tr td .status.process {
	background: var(--yellow);
	color: #ffffff;

}
#content main .table-data .order table tr td .status.pending {
	background: var(--orange);
	color: #ffffff;

}



#content main .table-data .todo {
	flex-grow: 1;
	flex-basis: 300px;
}
#content main .table-data .todo .todo-list {
	width: 100%;
}
#content main .table-data .todo .todo-list li {
	width: 100%;
	margin-bottom: 16px;
	background: var(--grey);
	border-radius: 10px;
	padding: 14px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#content main .table-data .todo .todo-list li .bx {
	cursor: pointer;
}
#content main .table-data .todo .todo-list li.completed {
	border-left: 10px solid var(--blue);
}
#content main .table-data .todo .todo-list li.not-completed {
	border-left: 10px solid var(--orange);
}
#content main .table-data .todo .todo-list li:last-child {
	margin-bottom: 0;
}
/* MAIN */
/* CONTENT */








@media screen and (max-width: 768px) {
	#sidebar {
		width: 200px;
	}

	#content {
		width: calc(100% - 60px);
		left: 200px;
	}

	#content nav .nav-link {
		display: none;
	}
}





@media screen and (max-width: 576px) {
	.form-input input {
		display: none;
	}

	.form-input button {
		width: auto;
		height: auto;
		background: transparent;
		border-radius: none;
		color: var(--dark);
	}

	.form-input input {
		display: block;
		width: 100%;
	}
	.form-input button {
		width: 36px;
		height: 100%;
		border-radius: 0 36px 36px 0;
		color: var(--light);
		background: var(--red);
	}

	#content nav form.show ~ .notification,
	#content nav form.show ~ .profile {
		display: none;
	}

	#content main .box-info {
		grid-template-columns: 1fr;
	}

	#content main .table-data .head {
		min-width: 420px;
	}
	#content main .table-data .order table {
		min-width: 420px;
	}
	#content main .table-data .todo .todo-list {
		min-width: 420px;
	}
}

.popup-title {
	margin: 1rem auto;
	font-family: poppins-regular, sans-serif;
	font-size: 15pt;
}
.popup-text {
	font-family: poppins-regular, sans-serif;
	font-size: 10pt;
}
.popup-btn {
	border: none;
	border-radius: 21px;
	box-shadow: 0px 1px 8px #adaaaa;
	cursor: pointer;
	color: var(--color3);
	font-family: poppins-regular, sans-serif;
	letter-spacing: 1px;
	height: 2rem;
	margin: 1rem auto;
	transition: 0.25s;
	width: 4rem;
}
#yes-delete {
	background-color: rgb(255, 139, 139);
}
#email-add-admin {
	font-family: jakarta, sans-serif;
	border-radius: 2px;
	border-width: 0px;
	background-color: #e2e2e2;
	font-size: 11pt;
	margin-top: 1rem;
	margin-bottom: 1rem;
	height: 1.5rem;
	width: 80%;
	text-indent: 10px;
}
#add-admin-submit {
	font-family: var(--poppins);
	height: 1.5rem;
	border-radius: 5px;
	border-width: 0px;
  	cursor: pointer;
	background-color: #ce8c36;
	color: #ffffff;
	margin-bottom: 1.5rem;
	width: 4rem;
}

#trigger_popup {
  cursor: pointer;
  color:rgba(27, 46, 133, 0.76);
  font-family: poppins-regular, sans-serif;
  font-size: 11pt;
  border-radius: 10px;
  background-color: #e7e7e715;
  padding: 2%;
  box-shadow: 1px 1px 7px #0000009a;
}
.hover_bg{
  background:rgba(0,0,0,.4);
  /* cursor:pointer; */
  display:none;
  height:100%;
  position:fixed;
  text-align:center;
  top:0;
  left:0;
  width:100%;
  z-index:10000;
}
.hover_bg .helper{
  display:inline-block;
  height:100%;
  vertical-align:middle;
}
.hover_bg > div {
  background-color: #fff;
  box-shadow: 10px 10px 60px #555;
  display: inline-block;
  height: auto;
  max-width: 30rem;
  min-height: 100px;
  vertical-align: middle;
  width: 20rem;
  position: relative;
  border-radius: 8px;
  padding: 3px 1%;
}
.popupCloseButton {
  background-color: #fff;
  border: 3px solid #999;
  border-radius: 50px;
  cursor: pointer;
  display: inline-block;
  font-family: arial;
  font-weight: bold;
  position: absolute;
  top: -20px;
  right: -20px;
  font-size: 25px;
  line-height: 30px;
  width: 30px;
  height: 30px;
  text-align: center;
}
.popupCloseButton:hover {
  background-color: #ccc;
}
.hidethispls {
	display: none;
	visibility: hidden;
}
.more-info-btn {
	background-color: #747474;
	border-radius: 2px;
	cursor: pointer;
}
.edit-btn {
	background-color: #a57d7d;
	border-radius: 2px;
	cursor: pointer;
}
.inputs-edit {
	margin: 0 auto;
	display: block;
	font-family: jakarta, sans-serif;
	border-radius: 2px;
	border-width: 0px;
	background-color: #e2e2e2;
	font-size: 11pt;

	height: 1.5rem;
	width: 80%;
	text-indent: 10px;
}
.edit-label{
	margin: 0 auto;
	display: block;

}
#messages-table > tbody > tr > td:nth-child(5) {
	background-color: var(--grey);
	color: #000000;
	width: 20rem;
}
#messages-table > tbody > tr > td:nth-child(6) {
	width: 1rem;
}
#messages-table > tbody > tr > td:nth-child(6) input{
	border-radius: 2px;
	/* background-color: #a57d7d; */
	background-color: #8c8a8a;


	color: #fff;
	border-width: 0px;
	padding: 2px;
	font-family: jakarta, sans-serif;
}
#loader {
  margin: 10rem auto 1rem auto;
  border: 10px solid #000000;
  border-top: 10px solid #3C91E6; 
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  box-shadow: 3px 1px 13px #d7d7d7;
}
#sidebar {
	display: none;
}
#content {
	display: none;
}
.week {
  text-align: center;
  /* margin: 1rem; */
}
.week div{
  display: inline-block;
  margin: 1rem 0.1rem;
  cursor: pointer;
  padding: 2%;
  width: 4rem;
  height: 4rem;
  box-shadow: 0px 1px 8px #000000;
  line-height: 0.8;

  background-color: var(--grey);
  color: var(--light);
}
.week div div{
  display: inline-block;
  margin: 1rem 0.1rem;
  cursor: pointer;
  margin-top: 1rem;
  width: 2.5rem;
  height: 1rem;
  box-shadow: 0px 1px 8px #000000;
  line-height: 0.8;
}
.week p{
  display: inline;
  
}
.small-day{
  font-family: jakarta, sans-serif;
  
  margin: 0;
  font-size: 7pt;
}
.big-day {
  font-family: jakarta, sans-serif;
  padding-top: 10px;
  font-size: 20pt;
}
.selected-day{
  background: #41708a;
}
@font-face {
  font-family: poppins-regular;
  src: url(fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: jakarta;
  src: url(fonts/PlusJakartaSans-Regular.ttf);
}