:root {
  /* --primary: #202336; /*sau: #336fa3*
  --secondary: #106fcf;
  --third: #c272a0; */
  --color1: #b69e4d;
  --color2: #9e5a00;
  --color3: #463015;
  --color4: #386329;
  --color5: #323a4a;
  --card_bg:#3f3f3f;
  --white: #ebebeb; 
}

a {
  text-decoration: none;
}
body {
  background: url(./media/portal_bg.jpg);
  background-color: var(--color5);

  opacity: 0;
  transition: opacity 0.25s;

  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* height: 100%; */
  
}
label {
  font-family: jakarta, sans-serif;
  font-size: 11pt;
}
input.form-content {
  background-color: var(--card_bg);
  color: var(--white);
}
#announce {
  color: #7b4664;
  font-family: poppins-regular, sans-serif;
  font-size: 11pt;
  margin-top: 30px;
  text-align: center;
}
#forgot-pass {
  color: var(--color2);
  font-family: poppins-regular, sans-serif;
  font-size: 10pt;
  margin-top: 3px;
  text-align: right;
}
#card {
  background: var(--color5);
  color: var(--white);
  border-radius: 8px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.65);
  height: 30rem;
  margin: 3em auto 3em auto;

  width: 20rem;
  transition: width 0.75s;
  float: center;
}
#card-content {
  padding: 12px 44px;

  opacity: 0;
  transition: opacity 0.5s;
}
#mini-header {
  margin-top: 0.5rem;
}
#back-btn {
  float: left;
  /* background-color: #e6e6e6; */
  background: -webkit-linear-gradient(left,#e7e7e7, var(--white));
  border-radius: 8px;
}
#about-us {
  float: right;
   /* background-color: #e6e6e6; */
  background: -webkit-linear-gradient(left, var(--white),  #e7e7e7);

  border-radius: 8px;
}
#card-title {
  font-family: poppins-regular, sans-serif;
  letter-spacing: 0.25rem;
  padding-bottom: 1rem;
  padding-top: 2.18rem;
  text-align: center;
}
#card-subtitle {
  font-family: poppins-regular, sans-serif;
  letter-spacing: 0px;
  font-size: 11pt;
  padding-bottom: 23px;
  /* padding-top: -100px; */
  text-align: center;
}
#signup {
  color: #000000;
  font-family: poppins-regular, sans-serif;
  font-size: 10pt;
  margin-top: 16px;
  text-align: center;
}

#reset-btn {
  background: -webkit-linear-gradient(35deg, var(--color2), var(--color1));
  border: none;
  border-radius: 21px;
  box-shadow: 0px 1px 8px #000000;
  cursor: pointer;
  color: white;
  font-family: poppins-regular, sans-serif;
  height: 42.3px;
  letter-spacing: 1px;
  margin: 0 auto;
  margin-top: 35px;
  transition: 0.25s;
  width: 153px;
}
#reset-btn:hover {
  box-shadow: 0px 1px 18px #000000;
}
#aboutus-btn{
    color:var(--color4);
}

.header-buttons {
  color: var(--color4);
  border: 0px;
  font-family: poppins-regular, sans-serif;
  font-size: 10pt;
  cursor: pointer;
}
.form {
  align-items: left;
  display: flex;
  flex-direction: column;
}
.form-border {
  background: -webkit-linear-gradient(left, #ffba194d, var(--color2), #ffba194d);

  height: 0.07em;
  width: 100%;
}
.form-content {
  background: #fbfbfb;
  border: none;
  outline: none;
  padding-top: 0.875rem;
}
.underline-title {
  background: -webkit-linear-gradient(left, #e9c8a2, var(--color2), #e9c8a2);

  height: 0.2rem;
  margin: -1.1rem auto 0rem auto;
  width: 10rem;
  /* border-radius: 20px; */

}


@font-face {
  font-family: poppins-regular;
  src: url(fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: jakarta;
  src: url(fonts/PlusJakartaSans-Regular.ttf);
}