body {
    font-family: poppins-bold, sans-serif;
}


@font-face {
    font-family: poppins-regular;
    src: url(./fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: poppins-bold;
    src: url(./fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: jakarta;
    src: url(./fonts/PlusJakartaSans-Regular.ttf);
}