:root {
  --color1: #ffbb19;
  --color2: #ff9000;
  --color3: #463015;
  --color4: #386329;
  --color5: #292963;

  --white: #ffffff;
}
body {
  background: url(./media/camp_bg.png);
  background-color: var(--color4);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 

  background-size: cover;
  margin: 100px auto 100px auto;

}
