:root {
  --color1: #e2f7ff;
  --color2: #f9b13b;
  --color3: #463015;
  --color4: #9db993;
  --color5: #323a4a;

  --cardbg: #0000009b;
  --text: #ffffff;
  --gray: #949494;
}

a {
  text-decoration: none;
}
body {
  /* background: -webkit-linear-gradient(bottom, var(--white), var(--primary)); */
  background: url(./media/portal_bg_winter.jpeg);
  background-color: var(--color5);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  opacity: 0;
  transition: opacity 0.25s;
  /* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; */
  background-size: cover;
  margin: 100px auto 100px auto;

  font-family: poppins-regular, twcen, sans-serif;
  color: black;
}
label {
  font-family: freigeist-regular, sans-serif;
  font-size: 11pt;
}
input.form-content {
  color: var(--white);
  font-size: 1em !important; 
}
/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #3c514ef3 inset !important;
  -webkit-text-fill-color: var(--text) !important;
}

form i {
  margin-left: 0.5em;
  margin-top: -2rem;
  cursor: pointer;
  /* display: flex; */
  /* float: right; */
}



#forgot-pass {
  color: var(--white);
  /* font-family: poppins-regular, sans-serif; */
  font-size: 8pt;
  margin-top: 3px;
  margin-left: 200px;
  text-align: right;
}
#about-us {
  float: right;
  color: var(--text);
  /* background-color: #e6e6e6; */
  background: -webkit-linear-gradient(right, #083e0736, #413e3e00);
  position: absolute;
  right: 20px;
  border-radius: 8px;
}

#card {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-radius: 8px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0);
  height: auto;
  margin: 3em auto 3em auto;
  width: 20rem; 
  transition: width 0.75s;
  color: var(--text);
  /* width: 50vw; */
  /* width: 96%; */
  /* width: 400px; */
  float: center;
  background-color: var(--cardbg);

  margin-bottom: 0;
}
#card-content {
  padding: 12px 44px;

  opacity: 0;
  transition: opacity 0.5s;
}
#card-title {
  /* font-family: poppins-regular, sans-serif; */
  letter-spacing: 0.25rem;
  padding-bottom: 1.43rem;
  padding-top: 4rem;
  text-align: center;
}
#card-subtitle {
  /* font-family: poppins-regular, sans-serif; */
  letter-spacing: 0px;
  font-size: 11pt;
  padding-top: 1px;
  padding-bottom: 14px;
  text-align: center;
}
#error {
  background-color: #fdb16a;
  border-radius: 5px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.65);
  margin-top: 0.1rem;
  margin-bottom: 1rem;
  transition: 1s;
  /* visibility: hidden; */
  display: none;
}
#announce {
  color: #790000;
  /* font-family: poppins-regular, sans-serif; */
  font-size: 11pt;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  text-align: center;
  
}
#report-bug {
  /* font-family: poppins-regular, sans-serif; */
  font-size: 9pt;
  color: rgb(106, 106, 106);
  text-align: center;
}
#report-btn {
 color: rgb(83, 83, 189);
 cursor: pointer;
}
#signup {
  color: var(--white);
  /* font-family: poppins-regular, sans-serif; */
  font-size: 10pt;
  margin-top: 3rem;
  text-align: center;
}
#password {
  width: 98%;
}

@property --c1{
  syntax: '<color>';
  inherits: false;
  initial-value: gray;
}
@property --c2{
  
  syntax: '<color>';
  inherits: false;
  initial-value: gray;
}
#submit-btn {
  --c1: #a6a6a6;
  --c2: #d4d4d4;

  
  border: none;
  border-radius: 21px;
  box-shadow: 0px 1px 8px #141414;
  cursor: pointer;
  color: var(--white);
  font-family: freigeist-bold, sans-serif;
  letter-spacing: 1px;
  height: 42.3px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 15px;
  transition: 0.25s;
  width: 153px;

  transition:--c1 2s;
  transition:--c2 2s;

  background: -webkit-linear-gradient(45deg, var(--c1), var(--c2));

}

#submit-btn:hover {
  box-shadow: 0px 1px 18px #acacac;
}
#signup-btn {
  background: -webkit-linear-gradient(45deg, var(--color2), rgb(76, 142, 199));
  border: none;
  border-radius: 21px;
  box-shadow: 0px 1px 8px #000000;
  cursor: pointer;
  color: var(--white);
  font-family: freigeist-bold, sans-serif;
  height: 42.3px;
  letter-spacing: 1px;
  margin: 0 auto 4rem auto;
  margin-top: 15px;
  width: 153px;

}
#signup-btn:hover {
  box-shadow: 0px 1px 18px #acacac;
}
#loader {
  margin: 0.5rem auto 0 auto;
  border: 10px solid #dbdbdb; /* Light grey */
  border-top: 10px solid #6a6aaa; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  box-shadow: 3px 1px 13px #1b1b1b;
  /* visibility: hidden; */
  display: none;
}
.underline-title {
  background: -webkit-linear-gradient(left, #e9c8a200, var(--color1), #e9c8a200);
  height: 0.2rem;
  margin: -1.1rem auto 0 auto;
  width: 14rem;
  /* border-radius: 10px; */
}
#card-title>img {
  width: 60%;
  height: 70px;
  margin: 0 auto;
}
.form {
  align-items: left;
  display: flex;
  flex-direction: column;
}
.form-border {
  /* background: -webkit-linear-gradient(right, var(--third), var(--secondary)); */
  /* background-color: var(--color2); */
  background: -webkit-linear-gradient(left, #ffba194d, var(--color1), #ffba194d);

  height: 0.06rem;
  width: 100%;
}
.form-content {
  background: #cacaca05;
  border-radius: 3px;
  border-color: #0000000a;
  border-width: 1px;
  border: none;
  outline: none;
  display: inline;
  padding-top:7px;
}
.underline-title {
  background: -webkit-linear-gradient(left, #e9c8a200, var(--color2), #e9c8a200);

  /* background-color: #ffbb19; */
  height: 0.2rem;
  margin: -1rem auto 0rem auto;
  width: 10rem;
  /* border-radius: 20px; */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@font-face {
  font-family: poppins-regular;
  src: url(fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: jakarta;
  src: url(fonts/PlusJakartaSans-Regular.ttf);
}

@font-face {
  font-family: poppins-regular;
  src: url(fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: poppins-bold;
  src: url(fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: twcen;
  src: url(./fonts/TwCenClassMTStd-Regular.otf);
}

@font-face {
  font-family: freigeist-light;
  src: url(./fonts/freigeist/FreigeistXWide-Light.ttf);
}

@font-face {
  font-family: freigeist-regular;
  src: url(./fonts/freigeist/FreigeistXWide-Regular.ttf);
}

@font-face {
  font-family: freigeist-bold;
  src: url(./fonts/freigeist/FreigeistXWide-Bold.ttf);
}

@font-face {
  font-family: freigeist-black;
  src: url(./fonts/freigeist/FreigeistXWide-Black.ttf);
}

@font-face {
  font-family: montana;
  src: url(./fonts/south-montana/South\ Montana\ Regular.ttf);
}

/* NAVBAR *
.header {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
}

#navbar {
  overflow: hidden;
  background-color: #333;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: poppins-regular, sans-serif;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

#navbar a.active {
  background-color: #04AA6D;
  color: white;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
} */
