:root {
  --primary: #202336; /*sau: #336fa3*/
  --secondary: #106fcf;
  --third: #c272a0;
  --white: #fbfbfb;
  --try: #575a73;
}


body {
  background: -webkit-linear-gradient(bottom, var(--white), var(--primary));
  background-repeat: no-repeat;
  
}
label {
  font-family: "Raleway", sans-serif;
  font-size: 11pt;
}
p {
  font-family: poppins-regular, sans-serif;
}
h4 {
  font-size: 20pt;
}

textarea {
  resize: none;
}

.list {
  font-size: 10pt;
  font-family: poppins-regular, sans-serif;
}
#card {
  background: #fbfbfb;
  border-radius: 8px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.65);
  margin: 3em auto 3em auto;
  height: 40rem;
  width: 24rem;
  float: center;
  clear: left;
  overflow: auto;
  /* overflow:auto; // it adds extra scroll bar wich is not what i want */
}
#card-content {
  font-family: "Raleway Thin", sans-serif;
  padding: 12px 44px;
  
}
#card-title {
  font-family: poppins-regular, sans-serif;
  letter-spacing: 0.25rem;
  padding-bottom: 1.43rem;
  padding-top: 2.18rem;
  text-align: center;
}
#card-subtitle {
  font-family: "Raleway Thin", sans-serif;
  letter-spacing: 1px;
  padding-bottom: 23px;
  padding-top: 13px;
  text-align: center;
}
#header {
  margin-top: 0.5rem;
}
#initial-loading-msg {
  font-family: roboto-light, sans-serif;
  font-size: 10pt;
  margin-top: 2rem;
  margin-bottom: 3rem;
  text-align: center;
}
#initial-loader {
  margin: 0.5rem auto 0 auto;
  border: 10px solid #b3b3b3; /* Light grey */
  border-top: 10px solid var(--secondary); /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  box-shadow: 3px 1px 13px #d7d7d7;
}
#all-data {
  margin-top: 2rem;
  display: none;
}
#expand-data {
  cursor: pointer;
  color:rgba(27, 46, 133, 0.76);
  font-family: poppins-regular, sans-serif;
  font-size: 11pt;
}
#pfp {
  width: 50%;
  height: 50%;
}

#logout {
  float: left;
  /* background-color: #e6e6e6; */
  background: -webkit-linear-gradient(left,#e7e7e7, var(--white));
  border-radius: 2px;
}
#about-us {
  float: right;
   /* background-color: #e6e6e6; */
  background: -webkit-linear-gradient(left, var(--white),  #e7e7e7);

  border-radius: 2px;
}
#hello {
  color: #000000;
  font-family: poppins-regular;
  font-size: 15pt;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}
#admins-db {
  background: #7a9679;
  border: none;
  border-radius: 21px;
  box-shadow: 0px 1px 8px #adaaaa;
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-family: poppins-regular;
  letter-spacing: 1px;
  margin: 0 auto;
  margin-top: 0px;
  margin-bottom: 0px;
  transition: 0.25s;
  height: 2.5em;
  width: 15em;
  display: none;
  justify-content:center;
}
#admins-db:hover {
  box-shadow: 0px 1px 18px #3876b4;

}
#qrcode {
  display: flex;
  justify-content: center;
}
#picture {
  display: flex;
  justify-content: center;
}
#id_text {
  /* font-style: italic; */
  font-family: roboto-light, sans-serif;
  text-align: center;
  margin: 0 auto;
  font-size: 8pt;
}
#days-left {
  color: #c272a0;
  font-weight: bold;
}
#updatable-info{
  font-family: poppins-regular;  /*candara, geneva,*/
  font-size: 11pt;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
#talk-to-us {
  margin-top: 1rem;
}
#msg-text {
  width: 100%;
  height: 3rem;
  margin-top: 1rem;
  background: #dadada;
  border: none;
  outline: none;
  border-radius: 4px;
  font-family: roboto-light;
  font-size: 0.9em !important; 
}
#msg-submit {
  width: 20%;
  height: 2rem;
  text-align: center; /*why not work man*/
  background: -webkit-linear-gradient(right, var(--third), var(--secondary));
  border: none;
  border-radius: 7px;
  cursor: pointer;
  color: white;
  font-family: poppins-regular, sans-serif;
  letter-spacing: 0px;
  margin: 0 auto;
  margin-top: 15px;
  display: flex;
  float: right;
  margin: 0rem auto 0rem auto;
}
#msg-submit:disabled {
  cursor:default;
}
#msg-submit:hover:enabled {
  box-shadow: 0px 1px 18px var(--secondary);
}

#info-expand-data {
  margin-top: 2.5rem;
  font-size: 11pt;
  font-family: poppins-regular, sans-serif;
  margin-bottom: 2rem;
}

.header-buttons {
  color: var(--secondary);
  border: 0px;
  font-family: poppins-regular, sans-serif;
  font-size: 10pt;
  cursor: pointer;
}
.underline-title {
  background: -webkit-linear-gradient(right, var(--third), var(--secondary));
  height: 0.2rem;
  margin: -1.1rem auto 0 auto;
  width: 100px;
  border-radius: 20px;
}
.upperline-title {
  background: -webkit-linear-gradient(right, var(--third), var(--secondary));
  height: 0.2rem;
  margin: -1.1rem auto 0 auto;
  width: 100%;
}

#trigger_popup {
  cursor: pointer;
  color:rgba(27, 46, 133, 0.76);
  font-family: poppins-regular, sans-serif;
  font-size: 11pt;
  border-radius: 2px;
  background-color: #e7e7e715;
  padding: 2%;
  box-shadow: 1px 1px 7px #0000009a;
}
.hover_bg{
    background:rgba(0,0,0,.4);
    /* cursor:pointer; */
    display:none;
    height:100%;
    position:fixed;
    text-align:center;
    top:0;
    width:100%;
    z-index:10000;
}
.hover_bg .helper{
    display:inline-block;
    height:100%;
    vertical-align:middle;
}
.hover_bg > div {
    background-color: #fff;
    box-shadow: 10px 10px 60px #555;
    display: inline-block;
    height: auto;
    max-width: 24rem;
    min-height: 100px;
    vertical-align: middle;
    width: 16rem;
    position: relative;
    border-radius: 8px;
    padding: 3px 1%;
}
.popupCloseButton {
    background-color: #fff;
    border: 3px solid #999;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 25px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
}
.popupCloseButton:hover {
    background-color: #ccc;
}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@font-face {
  font-family: poppins-regular;
  src: url(fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: poppins-bold;
  src: url(fonts/Poppins-Bold.ttf);
}
@font-face {
  font-family: roboto-light;
  src: url(fonts/RobotoMono-Light.ttf);
}