:root {
  --primary: #202336; /*sau: #336fa3*/
  --secondary: #106fcf;
  --third: #c272a0;
  --white: #fbfbfb;
  --try: #575a73;
}


body {
  background: -webkit-linear-gradient(bottom, var(--white), var(--primary));
  background-repeat: no-repeat;
}
label {
  font-family: "Raleway", sans-serif;
  font-size: 11pt;
}
p {
  font-family: "Raleway SemiBold", sans-serif;
}
h4 {
  font-size: 20pt;
}

textarea {
  resize: none;
}

.list {
  font-size: 10pt;
}
#card {
  background: #fbfbfb;
  border-radius: 8px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.65);
  height: 50rem;
  margin: 3em auto 3em auto;
  width: 24rem;
  float: center;
}
#card-content {
  font-family: "Raleway Thin", sans-serif;
  padding: 12px 44px;
  
}
#card-title {
  font-family: "Raleway Thin", sans-serif;
  letter-spacing: 0.25rem;
  padding-bottom: 1.43rem;
  padding-top: 2.18rem;
  text-align: center;
}
#card-subtitle {
  font-family: "Raleway Thin", sans-serif;
  letter-spacing: 1px;
  padding-bottom: 23px;
  padding-top: 13px;
  text-align: center;
}
#initial-loading-msg {
  font-family: "Raleway SemiBold", sans-serif;
  font-size: 10pt;
  margin-top: 2rem;
  margin-bottom: 3rem;
  text-align: center;
}
#initial-loader {
  margin: 0.5rem auto 0 auto;
  border: 10px solid #b3b3b3; /* Light grey */
  border-top: 10px solid var(--secondary); /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  box-shadow: 3px 1px 13px #d7d7d7;
}
#all-data {
  margin-top: 2rem;
  display: none;
}
#expand-data {
  cursor: pointer;
  font-family: "Raleway SemiBold", sans-serif;
}
#pfp {
  width: 50%;
  height: 50%;
}
#logout {
  float: left;
}
#about-us {
  float: right;
}
#hello {
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-size: 15pt;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}
#qrcode {
  display: flex;
  justify-content: center;
}
#picture {
  display: flex;
  justify-content: center;
}
#id_text {
  font-style: italic;
  text-align: center;
  font-size: 8pt;
}
#days-left {
  color: rgb(35, 102, 156);
  font-weight: bold;
}
#updatable-info{
  font-size: 11pt;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
#talk-to-us {
  margin-top: 1rem;
}
#msg-text {
  width: 100%;
  height: 3rem;
  margin-top: 1rem;
  background: #dadada;
  border: none;
  outline: none;
  border-radius: 4px;
  font-family: "Raleway SemiBold", sans-serif;

}
#msg-submit {
  width: 20%;
  height: 2rem;
  text-align: center; /*why not work man*/
  background: -webkit-linear-gradient(right, var(--third), var(--secondary));
  border: none;
  border-radius: 7px;
  box-shadow: 0px 1px 8px #0f63ca;
  cursor: pointer;
  color: white;
  font-family: "Raleway SemiBold", sans-serif;
  letter-spacing: 1px;
  margin: 0 auto;
  margin-top: 15px;
  display: flex;
  float: right;
  margin: 0rem auto 0rem auto;
}
#info-expand-data {
  margin-top: 2.5rem;
  font-size: 11pt;
  margin-bottom: 2rem;
}


.header-buttons {
  color: var(--secondary);
  background-color:rgba(255, 255, 255, 0);
  border: 0px;
  font-family: "Raleway", sans-serif;
  font-size: 10pt;
  cursor: pointer;
}
.underline-title {
  background: -webkit-linear-gradient(right, var(--third), var(--secondary));
  height: 0.2rem;
  margin: -1.1rem auto 0 auto;
  width: 100px;
}
.upperline-title {
  background: -webkit-linear-gradient(right, var(--third), var(--secondary));
  height: 0.2rem;
  margin: -1.1rem auto 0 auto;
  width: 100%;
}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}