html {
  height: 100%;
}
@property --c1{
  syntax: '<color>';
  inherits: false;
  initial-value: gray;
}
body {
  --c1:#2d3b3f;
  font-family: sans-serif;
  padding: 0 10px;
  height: 100%;
  background-color: #2d3b3f;

  transition:--c1 0.25s;
  background-image: -webkit-linear-gradient(90deg,#535353, var(--c1));
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0;
}
h2 {
    font-family: jakarta, sans-serif;
    color: rgb(255, 255, 255);
}
p{
    color:rgb(180, 180, 180);
}
#title {
    margin: 1rem auto 0rem auto;
    text-align: center;
}

#container {
  text-align: center;
  font-family: jakarta, sans-serif;
  margin: 0;
}
#loader {
  margin: 0.5rem auto 0 auto;
  border: 10px solid #ffffff; /* Light grey */
  border-top: 10px solid #7e2eb3; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  /* box-shadow: 3px 1px 13px #d7d7d7; */
}
#qr-canvas {
  margin: auto;
  width: calc(100% - 20px);
  max-width: 500px;
}

#btn-scan-qr p{
  color:#d8bbbb;
  font-size: large;
}

#btn-scan-qr img {
  height: 10em;
  padding: 15px;
  margin: 15px;
  background: white;
}

#qr-result {
  font-size: 1.2em;
  margin: 20px auto;
  padding: 20px;
  max-width: 700px;
  background-color: white;
}
#current-log {
    display: flex;
    justify-content: center;
    font-family: jakarta, sans-serif;
    color: #ffffff;
}
.reading p{
    padding: 4px 20px;
    border-radius: 10px;
    letter-spacing: 1px;
    background-color: #6e6e6e;

    color: #ffffff;

}
.loading-database p{
    letter-spacing: 1px;
    border-radius: 10px;
    padding: 2px 15px;
    background-color: #968e27;
    color: #ffffff;
}
.show-result p{
    letter-spacing: 1px;
    border-radius: 10px;
    padding: 2px 15px;
    background-color: #000000;

    color: #ffffff;
}
#title-logs {
    margin-top: 1rem;
    margin-bottom: 1rem; 

    text-align: center;
    font-size: 15pt;
    color: #d4ca6ddc;
}
#logs {
    display: flex;
    justify-content: center;
    font-family: jakarta, sans-serif;
    color: #acacac;
}
#logs p{
    font-family: roboto, sans-serif;
    border-radius: 10px;
    text-align: left;
    background-color: #1a1a1a;
    padding: 10px 20px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@font-face {
  font-family: jakarta;
  src: url(fonts/PlusJakartaSans-Regular.ttf);
}
@font-face {
  font-family: roboto;
  src: url(fonts/RobotoMono-Regular.ttf);
}