:root {
  --primary: #202336; /*sau: #336fa3*/
  --secondary: #106fcf;
  --third: #c272a0;
  --white: #ffffff;
  --gray: #949494;
}

a {
  text-decoration: none;
}
body {
  /* background: -webkit-linear-gradient(bottom, var(--white), var(--primary));
  background-repeat: no-repeat; */

  background: url(./media/sparks1.gif);
  background-repeat: repeat;
  background-size: 100%;
}
label {
  font-family: ptserif, sans-serif;
  font-size: 11pt;
}
input.form-content {
  font-size: 1em !important; 
}

#card {
  background: #fbfbfb;
  border-radius: 8px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.65);
  height: 110rem;
  margin: 3em auto 3em auto;
  width: 24rem;
  float: center;
}
#card-content {
  padding: 12px 44px;
}
#card-title {
  font-family: poppins-regular, sans-serif;
  letter-spacing: 0.1rem;
  padding-bottom: 1.43rem;
  padding-top: 2.18rem;
  text-align: center;
}
#card-subtitle {
  font-family: poppins-regular, sans-serif;
  letter-spacing: 1px;
  padding-top: 1px;
  padding-bottom: 14px;
  text-align: center;
}
#profile-photo {
  font-family: poppins-regular, sans-serif;
  background-color: #b1b0ac0e;
  cursor: pointer;
  margin-top: 0.02rem;
  margin-bottom: 0.2rem;

}
#signup {
  color: #000000;
  font-family: poppins-regular, sans-serif;
  font-size: 10pt;
  margin-top: 16px;
  text-align: center;
}

@property --c1{
  syntax: '<color>';
  inherits: false;
  initial-value: gray;
}
@property --c2{
  syntax: '<color>';
  inherits: false;
  initial-value: gray;
}

#signup-btn {

  --c1: #5a5a5a;
  --c2: #bdbdbd;
  border: none;
  border-radius: 21px;
  box-shadow: 0px 1px 8px #939393;
  cursor: pointer;
  color: white;
  font-family: poppins-regular, sans-serif;
  height: 42.3px;
  letter-spacing: 1px;
  margin: 0 auto;
  margin-top: 0rem;
  margin-bottom: 1rem;
  /* transition: 1s; */
  width: 153px;

  transition:--c1 1s;
  transition:--c2 1s;
  background-image: -webkit-linear-gradient(left, var(--c1), var(--c2));
}
#signup-btn:hover { 
  box-shadow: 0px 1px 14px #000000;
}
#error {
  display: none;
  background-color: #c79da6;
  border-radius: 5px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.65);
  margin-top: 1rem;
  transition: 1s;
  visibility: hidden;
}
#announce {
  color: #000000;
  font-family: poppins-regular, sans-serif;
  font-size: 11pt;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  text-align: center;
}
#category{
  color: #3f3f3f;
  font-family: ptserif, sans-serif;
  font-size: 14pt;
  margin-top: 0.1rem;
  margin-bottom: 0px;
  text-align: left;
}
#agree {
  margin: 2rem 0rem 0rem 0rem;
}
#about-us {
  color: var(--secondary);
  background-color:rgba(255, 255, 255, 0);
  border: 0px;
  font-family: poppins-regular, sans-serif;
  font-size: 10pt;
  cursor: pointer;
  float: right;
}
#start-date{
  width:40%;
  float: left;
}
#stop-date{     /* this doesn't look right*/
  width:40%;
  /* display: flex;
  align-items: right; */
  float:right;
}
.form {
  align-items: left;
  display: flex;
  flex-direction: column;
}
.form-border {
  background: -webkit-linear-gradient(right, var(--third), var(--secondary));
  height: 0.06rem;
  width: 100%;
}
.form-content {
  background: #b1b0ac0e;
  border-radius: 7%;
  border: none;
  outline: none;
  padding-top: 0.875rem;
}
.underline-title {
  background: -webkit-linear-gradient(right, var(--third), var(--secondary));
  height: 0.2rem;
  margin: -1.1rem auto 0 auto;
  width: 9rem;
  border-radius: 10px;
}
.small-info {
  color: #7a7a7a;
  font-family: ptserif, sans-serif;
  font-size: 8pt;
  margin-top: 0rem;
  text-align: left;
}

#loader {
  margin: 0.5rem auto 0 auto;
  border: 10px solid #b3b3b3; /* Light grey */
  border-top: 10px solid var(--secondary); /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  box-shadow: 3px 1px 13px #d7d7d7;
  visibility: hidden;
}

#last-small-info {
  /* padding-top: 1rem; */
  font-family: poppins-regular, sans-serif;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes graytocolor {
  from {background-color: -webkit-linear-gradient(left, #5a5a5a, #bdbdbd);}
  to {background-color: -webkit-linear-gradient(right, var(--third), var(--secondary));}
}


@font-face {
  font-family: poppins-regular;
  src: url(fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: ptserif;
  src: url(fonts/PTSerif-Regular.ttf);
}