/* styles for the SVG section dividers */

.spacer{
    aspect-ratio: 960/106 ;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-divider {
    background-image: url('/src/assets/svgs/wave-herosection.svg');
}

.button-divider-up {
    background-image: url('/src/assets/svgs/wave-buttonsection-up.svg');
}

.button-divider-down {
    background-image: url('/src/assets/svgs/wave-buttonsection-down.svg');
}

