/* styles for the SVG section dividers */

.spacer{
    aspect-ratio: 960/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-divider {
    background-image: url('/src/assets/wave-herosection.svg');
}