.photo1 {
    background-image: url('/src/assets/images/DSC09815.jpg');
  }
  
  .photo2 {
    background-image: url('/src/assets/images/DSC_6819.jpg');
  }
  
  .photo3 {
    background-image: url('/src/assets/images/DSC09865.jpg');
  }
  
  .photo4 {
    background-image: url('/src/assets/images/ZVE03423.jpg');
  }
  
  .photo5 {
    background-image: url('/src/assets/images/ZVE03409.jpg');
  }
  
  .photo6 {
    background-image: url('/src/assets/images/ZVE02847.jpg');
  }
  