.photo1 {
    background-image: url('/assets/images/gallery/DSC09815.jpg');
  }
  
  .photo2 {
    background-image: url('/assets/images/gallery/DSC_6819.jpg');
  }
  
  .photo3 {
    background-image: url('/assets/images/gallery/DSC09865.jpg');
  }
  
  .photo4 {
    background-image: url('/assets/images/gallery/ZVE03423.jpg');
  }
  
  .photo5 {
    background-image: url('/assets/images/gallery/ZVE03409.jpg');
  }
  
  .photo6 {
    background-image: url('/assets/images/gallery/ZVE02847.jpg');
  }
  